[submodule "arkworks-algebra"]
	path = arkworks-algebra
	url = https://github.com/a16z/arkworks-algebra.git
	branch = v0.5.0-optimize-mul-u64
[submodule "jolt"]
	path = jolt
	url = https://github.com/quangvdao/jolt.git
	branch = small-value-spartan
[submodule "smallfield-super-sumcheck"]
	path = smallfield-super-sumcheck
	url = https://github.com/ingonyama-zk/smallfield-super-sumcheck
